*{
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo\ final.jpg);
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
color:#cccccc;
font-size: 0.85rem;
margin-left: 15px;
}

.add-sec{
font-size: 1rem;
margin-left: 3px;
}
.address-icon{
    display: flex;
    align-items: center;
}